h1{
 color:blue;
 text-align:right;
}
body{
 background:lightblue no-repeat right bottom url("https://images4.alphacoders.com/304/thumb-350-30434.jpg");
}
p{
 text-align:center;
}
ol{
 font-style:italic;
 list-style-type:upper-roman;
}